*.pyc
*.pyo
*.pyd
*.~vsd
*.orig
history
commits-from
mergecommits.py
HISTORY.txt
COMMITS.txt
Makefile
setup_gen.py
.identities/
plugins/
web/*.db
docs.teamlab/
docs/area
services/html_src/
release/
deploy/
